<div class="landing-body">
  <div class="landing-header-container">
    <div class="landing-navbar"></div>
  </div>
  <div class="landing-main-container">
    <div class="landing-thumbnail">
      <img src="assets/background-destaque.png" />
    </div>
  </div>
  <div class="como-funciona">
    <div class="row">
      <div class="col-12 centralize-title">
        <h3>Como funciona?</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-4 como-funciona-step-img">
        <div class="step-number">
          <p>1</p>
        </div>
        <img class="icone-como-funciona" src="assets/cellphone.svg" />
        <img class="background-como-funciona" src="assets/background-etapa-1.svg" />
        <div class="descricao-como-funciona">
          <p>Baixe o app grátis e selecione um dos nossos serviços</p>
        </div>
      </div>
      <div class="col-4 como-funciona-step-img">
        <div class="step-number">
          <p>2</p>
        </div>
        <img class="icone-como-funciona" src="assets/callendar.svg" />
        <img class="background-como-funciona" src="assets/background-etapa-2.svg" />
        <div class="descricao-como-funciona">
          <p>Escolha data e horário e receba um de nossos incríveis profissionais</p>
        </div>
      </div>
      <div class="col-4 como-funciona-step-img">
        <div class="step-number">
          <p>3</p>
        </div>
        <img class="icone-como-funciona" src="assets/invoice.svg" />
        <img class="background-como-funciona" src="assets/background-etapa-3.svg" />
        <div class="descricao-como-funciona">
          <p>Após conclusão do serviço pague pelo app e receba sua nota fiscal</p>
        </div>
      </div>
    </div>
  </div>
  <div class="vantagens">
    <div class="vantagens-title">
      <h3>Vantagens</h3>
    </div>
    <div class="row conteudo-vantagens">
      <div class="col-3">
        <img class="tela-exemplo-vantagens" src="assets/Tela-app-demo.svg" />
      </div>
      <div class="col-3">
        <img class="tela-exemplo-vantagens" src="assets/Tela-app-demo.svg" />
      </div>
      <div class="col-6">
        <h4>Esqueça textões e ligações intermináveis</h4>
        <ul class="lista-vantagens-principal">
          <li>com poucos cliques, agende o serviço</li>
          <li>confiança nos profissionais</li>
          <ul>
            <li>certificado por lojas parceiras</li>
            <li>avaliados pelo app e pelos clientes</li>
          </ul>
          <li>pague com segurança após a conclusão do serviço</li>
          <li>compre os materias necessários para o serviço com descontos nas nossas lojas parceiras</li>
        </ul>
      </div>
    </div>
    <img class="vantagens-background" src="assets/ellipse-destaque.svg" />
  </div>
  <div class="servicos">
    <div class="row servicos-title">
      <div class="col-12 centralize-title">
        <h3>Nossos Serviços</h3>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-4">
        <img src="assets/hidr.png" />
      </div>
      <div class="col-4">
        <img src="assets/ar-cond.png" />
      </div>
      <div class="col-4">
        <img src="assets/pintura.png" />
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <img src="assets/eletrico.png" />
      </div>
      <div class="col-4">
        <img src="assets/peq-reformas.png" />
      </div>
      <div class="col-4">
        <img src="assets/ultimo.png" />
      </div>
    </div>
  </div>
  <div class="lojas-parceiras">
    <div class="lojas-parceiras-content">
      <div class="lojas-parceiras-title">
        <h3>Lojas Parceiras</h3>
      </div>
      <div class="row">
        <div class="col-4 parceiro-logo">
          <img src="assets/parceiro-placeholder.svg" />
          <span></span>
          <p>
            Caros amigos, o entendimento das metas propostas maximiza as possibilidades por conta do processo de
            comunicação como um todo.
          </p>
        </div>
        <div class="col-4 parceiro-logo">
          <img src="assets/parceiro-placeholder.svg" />
          <span></span>
          <p>
            Caros amigos, o entendimento das metas propostas maximiza as possibilidades por conta do processo de
            comunicação como um todo.
          </p>
        </div>
        <div class="col-4 parceiro-logo">
          <img src="assets/parceiro-placeholder.svg" />
          <span></span>
          <p>
            Caros amigos, o entendimento das metas propostas maximiza as possibilidades por conta do processo de
            comunicação como um todo.
          </p>
        </div>
      </div>
    </div>
    <img src="assets/lojas-parceiras.svg" />
  </div>
  <div class="quero-trabalhar">
    <div class="quero-trabalhar-conteudo">
      <div class="quero-trabalhar-title">
        <h3>Quero trabalhar com o Finddo</h3>
      </div>
      <div class="row quero-trabalhar-thumb">
        <div class="col-6">
          <h4>Profissionalize seu trabalho e ganhe muito mais com isso!</h4>
          <div class="row">
            <div class="col-6">
              <img src="assets/engrenagem-branca.svg" />
              <p>alcance mais clientes</p>
            </div>
            <div class="col-6">
              <img src="assets/engrenagem-branca.svg" />
              <p>melhore seu serviço com treinamentos</p>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <img src="assets/engrenagem-branca.svg" />
              <p>receba bônus excelentes por metas batidas</p>
            </div>
            <div class="col-6">
              <img src="assets/engrenagem-branca.svg" />
              <p>aceita cartão sem pagar nenhuma taxa ou aluguel</p>
            </div>
          </div>
        </div>
        <div class="col-6">
          <img src="assets/quero-trabalhar-img.svg" />
        </div>
      </div>
      <div class="row form-quero-trabalhar">
        <div class="col-4">
          <input type="text" name="nome" placeholder="Nome" />
        </div>
        <div class="col-4">
          <input type="number" name="whatsapp" placeholder="WhatsApp" />
        </div>
        <div class="col-4">
          <a href="#">CADASTRAR</a>
        </div>
      </div>
    </div>
    <img src="assets/quero-trabalhar-com-finddo.svg" />
  </div>
  <div class="fale-conosco">
    <div class="fale-conosco-conteudo">
      <div class="row fale-conosco-titulo">
        <div class="col-12">
          <h3>Fale Conosco</h3>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-6 alinhar-direita">
          <input type="text" placeholder="Nome" name="nome-fale-conosco" />
        </div>
        <div class="col-6 alinhar-esquerda">
          <input type="email" placeholder="Email" name="email" />
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-6 alinhar-direita">
          <input type="number" placeholder="Telefone" name="telefone" />
        </div>
        <div class="col-6 alinhar-esquerda">
          <input type="text" placeholder="Assunto" name="assunto" />
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-12">
          <textarea placeholder="Mensagem" name="mensagem"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <a href="#">ENVIAR</a>
        </div>
      </div>
    </div>
    <img src="assets/fale-conosco.svg" />
  </div>
  <div class="duvidas">
    <div class="row">
      <div class="col-12 texto-duvidas mb-4">
        <p>Ficou com alguma dúvida?</p>
        <p>Entre em Contato:</p>
      </div>
    </div>
    <div class="row">
      <div class="col-6 direita">
        <p>daniel@finddo.com.br</p>
      </div>
      <div class="col-6 esquerda">
        <p>(21) 97141-8037</p>
      </div>
    </div>
  </div>
</div>