<div class="landing-body">
  <div class="landing-header-container">
    <div class="landing-navbar"></div>
  </div>
  <div class="landing-main-container">
    <div class="landing-thumbnail">
      <img src="assets/mask-image-section-initial.svg" />
    </div>
  </div>
  <div class="como-funciona">
    <div class="row">
      <div class="col-12 centralize-title">
        <h3>Como funciona?</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-4 como-funciona-step-img">
        <div class="step-number">
          <p>1</p>
        </div>
        <img class="icone-como-funciona" src="assets/cellphone.svg" />
        <img class="background-como-funciona" src="assets/background-etapa-1.svg" />
        <div class="descricao-como-funciona">
          <p>Baixe o app grátis e selecione um dos nossos serviços</p>
        </div>
      </div>
      <div class="col-4 como-funciona-step-img">
        <div class="step-number">
          <p>2</p>
        </div>
        <img class="icone-como-funciona" src="assets/callendar.svg" />
        <img class="background-como-funciona" src="assets/background-etapa-2.svg" />
        <div class="descricao-como-funciona">
          <p>Escolha data e horário e receba um de nossos incríveis profissionais</p>
        </div>
      </div>
      <div class="col-4 como-funciona-step-img">
        <div class="step-number">
          <p>3</p>
        </div>
        <img class="icone-como-funciona" src="assets/invoice.svg" />
        <img class="background-como-funciona" src="assets/background-etapa-3.svg" />
        <div class="descricao-como-funciona">
          <p>Após conclusão do serviço pague pelo app e receba sua nota fiscal</p>
        </div>
      </div>
    </div>
  </div>
  <div class="vantagens">
    <div class="vantagens-title">
      <h3>Vantagens</h3>
    </div>
    <div class="row conteudo-vantagens">
      <div class="col-3">
        <img class="tela-exemplo-vantagens" src="assets/Tela-app-demo.svg" />
      </div>
      <div class="col-3">
        <img class="tela-exemplo-vantagens" src="assets/Tela-app-demo.svg" />
      </div>
      <div class="col-6">
        <h4>Esqueça textões e ligações intermináveis</h4>
        <ul class="lista-vantagens-principal">
          <li>com poucos cliques, agende o serviço</li>
          <li>confiança nos profissionais</li>
          <ul>
            <li>certificado por lojas parceiras</li>
            <li>avaliados pelo app e pelos clientes</li>
          </ul>
          <li>pague com segurança após a conclusão do serviço</li>
          <li>compre os materias necessários para o serviço com descontos nas nossas lojas parceiras</li>
        </ul>
      </div>
    </div>
    <img class="vantagens-background" src="assets/ellipse-destaque.svg" />
  </div>
  <div class="servicos">
    <div class="row">
      <div class="col-4">
        <div class="step-number"></div>
        <img src="assets/hidr.png" />
      </div>
      <div class="col-4">
        <div class="step-number"></div>
        <img src="assets/ar-cond.png" />
      </div>
      <div class="col-4">
        <div class="step-number"></div>
        <img src="assets/pintura.png" />
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="step-number"></div>
        <img src="assets/eletrico.png" />
      </div>
      <div class="col-4">
        <div class="step-number"></div>
        <img src="assets/peq-reformas.png" />
      </div>
      <div class="col-4">
        <div class="step-number"></div>
        <img src="assets/ultimo.png" />
      </div>
    </div>
  </div>
  <div class="lojas-parceiras">
    <img src="assets/lojas-parceiras.svg" />
  </div>
  <div class="quero-trabalhar">
    <img src="assets/quero-trabalhar-com-finddo.svg" />
  </div>
  <div class="fale-conosco">
    <img src="assets/fale-conosco.svg" />
  </div>
</div>