@import "../../../colors.scss";

div.landing-body {
    font-display: Basic, 'Sans-Serif';
    height: 4740px;
    background-color: $landing-background;
}

div.landing-header-container {
    height: 110px;
    position: relative;

    img {
        position: absolute;
        z-index: 50;
        margin-top: 16px;
        margin-left: 16px;
    }

    ul {
        list-style-type: none;
        display: flex;
        position: absolute;
        z-index: 50;
        justify-content: flex-end;
        width: 100%;
        margin-top: 30px;
        padding-right: 16px;

        a {
            margin-right: 10px;
            color: $header-text-color;
            font-size: larger;
            border-bottom: solid $landing-text-borders;
            border-bottom-width: 4px;
        }

        a.profissional {
            background-color: $landing-text-borders;
            color: $landing-titles;
            border-radius: 15px;
            display: block;
            width: 115px;
            text-align: center;
            transform: translateY(-12px);
        }

        a:visited, a:hover, a:active {
            text-decoration: none;
        }

        a:hover {
            opacity: 0.5;
            transition: 1s;
        }
    }
}

div.landing-navbar {
    height: 100%;
    position: absolute;
    width: 200%;
    left: -25%;
    height: 100%;
    background-image: url("../../../assets/header-fundo.svg");
    z-index: 10;
}

div.landing-main-container {
    height: 480px;
    width: 110%;
    left: -5%;
    position: relative;

    div.texto-destaque {
        color: $landing-titles;
        position: absolute;
        z-index: 20;
        width: 100%;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        h1 {
            font-size: 3.5rem;

            .destaque {
                color: $landing-text-borders;
            }
        }
    }

    div.imagens {
        top: 50%;
        justify-content: space-evenly;
    }
}

div.landing-thumbnail {
    height: 121%;
    transform: translateY(-54px);
    background-color: $header-text-color;
    background-image: url("../../../assets/background-destaque.png");
    background-size: cover;

    .landing-thumbnail-transparency {
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.6);
    }
}

.landing-thumbnail img {
    width: 100%;
    height: 120%;
}

.centralize-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

div.como-funciona {
    transform: translateY(30px);
    margin-top: 40px;

    div.row {
        margin-bottom: 40px;
    }

    h3 {
        color: $landing-titles;
        text-align: center;
        border-bottom-color: $landing-text-borders;
        border-bottom-style: solid;
        border-bottom-width: 4px;
        display: inline-flex;
    }

    img.icone-como-funciona {
        position: absolute;
        z-index: 10;
        width: 25%;
    }

    div.descricao-como-funciona {
        position: absolute;
        transform: translateY(240px);
        font-size: x-large;
        text-align: center;
        padding-left: 30px;
        padding-right: 30px;
        color: $landing-titles;
    }
}

div.servicos {
    transform: translateY(200px);

    div.servicos-title {
        margin-bottom: 20px;
    }

    h3 {
        color: $landing-titles;
        text-align: center;
        border-bottom-color: $landing-text-borders;
        border-bottom-style: solid;
        border-bottom-width: 4px;
        display: inline-flex;
    }
}

.como-funciona .background-como-funciona {
    height: 350px;
}

.servicos img {
    height: 265px;
}

.como-funciona .background-como-funciona, .servicos img {
    display: block;
    margin: 0 auto;
    position: relative;
}

div.step-number {
    display: flex;
    width: 70px;
    height: 70px;
    position: absolute;
    top: 23px;
    left: 92px;
    z-index: 10;
    background-image: url("../../../assets/Ellipse.svg");

    p {
        display: block;
        margin: auto;
        width: 100%;
        height: auto;
        text-align: center;
        font-size: xx-large;
        color: $como-funciona-numbers;
    }
}

div.vantagens {
    height: 561px;
    transform: translateY(120px);

    div.vantagens-title {
        position: absolute;
        width: 100vw;
        top: 30px;

        h3 {
            border-bottom-color: $landing-text-borders;
            border-bottom-style: solid;
            border-bottom-width: 4px;
        }
    }

    div.conteudo-vantagens {
        position: absolute;
        width: 80%;
        top: 25%;
        left: 11%;
        height: 500px;

        h4 {
            text-decoration: underline;
            margin-bottom: 27px;
        }

        img.tela-exemplo-vantagens {
            height: 54%;
        }

        ul.lista-vantagens-principal li {
            font-size: larger;
            margin-bottom: 20px;
        }

        ul.lista-vantagens-principal > li {
            list-style-image: url("../../../assets/engrenagem-li.svg");
        }
    }

    img.vantagens-background {
        width: 90%;
        display: block;
        margin: 0 auto;
    }
}

div.lojas-parceiras {
    transform: translateY(260px);
    position: relative;
    z-index: 10;
}

div.quero-trabalhar {
    transform: translateY(90px);
    position: relative;
    z-index: 8;
}

div.quero-trabalhar-conteudo {
    position: absolute;
    width: 1120px;
    height: 60%;
    color: $landing-titles;

    div.quero-trabalhar-title {
        position: relative;
        width: 100%;
        margin-top: 40px;

        h3 {
            border-bottom-color: $landing-text-borders;
            border-bottom-style: solid;
            border-bottom-width: 4px;
            margin: 0 auto;
            display: block;
            width: max-content;
        }
    }

    div.quero-trabalhar-thumb {
        margin-top: 90px;

        img {
            display: block;
            margin: 0 auto;
        }

        p {
            text-align: center;
        }
    }

    div.form-quero-trabalhar {
        margin-top: 20px;
        background-color: $landing-background;
        height: 80px;
        border-radius: 44px;
        align-items: center;

        input, a {
            width: 100%;
            border-radius: 23px;
            border: transparent;
            height: 45px;
            font-size: larger;
        }

        input {
            padding-left: 10px;
        }

        a {
            text-align: center;
            display: block;
            background-color: $como-funciona-numbers;
            line-height: 42px;
            color: $landing-titles;
        }

        a:visited, a:hover, a:active {
            text-decoration: none;
        }

        a:hover {
            opacity: 0.5;
            transition: 1s;
        }
    }
}

div.fale-conosco {
    transform: translate(-2px, -33px);
}

div.fale-conosco-conteudo {
    position: absolute;
    width: 1200px;
    height: 80%;
    top: 140px;

    div.fale-conosco-titulo {
        position: relative;
        margin-bottom: 40px;

        h3 {
            border-bottom-color: $landing-text-borders;
            border-bottom-style: solid;
            border-bottom-width: 4px;
            display: block;
            margin: 0 auto;
            width: fit-content;
            color: $landing-titles;
        }
    }

    input {
        height: 45px;
    }

    textarea {
        resize: none;
    }

    input, textarea {
        padding-left: 20px;
        padding-right: 20px;
        width: 80%;
        border-radius: 23px;
        border: transparent;
        font-size: larger;
    }

    textarea {
        display: block;
        margin: 0 auto;
    }

    div.alinhar-direita {
        input {
            display: block;
            margin-left: auto;
        }
    }

    div.alinhar-esquerda {
        input {
            display: block;
            margin-right: auto;
        }
    }

    a {
        display: block;
        margin: 0 auto;
        width: 215px;
        height: 45px;
        color: $landing-titles;
        background-color: $landing-text-borders;
        text-align: center;
        border-radius: 23px;
        line-height: 43px;
    }

    a:visited, a:hover, a:active {
        text-decoration: none;
    }

    a:hover {
        opacity: 0.5;
        transition: 1s;
    }
}

div.lojas-parceiras, div.quero-trabalhar,
div.fale-conosco, div.como-funciona-step-img,
div.vantagens-title {
    flex: 1;
    align-items: center;
    justify-content: center;
    display: flex;
}

div.lojas-parceiras {
    align-items: flex-start;
}

div.lojas-parceiras-content {
    position: absolute;
    width: 1130px;
    height: 100%;

    div.row {
        margin-top: 60px;
    }
}

div.lojas-parceiras-title {
    position: relative;
    margin-top: 35px;
    display: flex;

    h3 {
        border-bottom-color: $landing-text-borders;
        border-bottom-style: solid;
        border-bottom-width: 4px;
        display: block;
        margin: 0 auto;
    }
}

div.parceiro-logo {
    img {
        display: block;
        margin-bottom: 60px;
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        max-width: 335px;
    }

    p:before {
        content: '“';
        font-size: 152px;
        color: $abre-aspas;
        position: absolute;
        top: -58px;
        left: -57px;
    }

    p {
        position: relative;
        width: 250px;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }
}

div.duvidas {
    transform: translateY(-10px);
    font-size: 23px;
    color: $landing-titles;

    div.texto-duvidas p, div.esquerda p, div.direita p {
        width: fit-content;
        display: block;
    }

    div.texto-duvidas p {
        margin: 0 auto;
    }

    div.esquerda p {
        margin-right: auto;
    }

    div.direita p {
        margin-left: auto;
    }

    div.direita p:before {
        content: url("../../../assets/envelope.svg");
        margin-right: 10px;
    }

    div.esquerda p:before {
        content: url("../../../assets/whatsapp.svg");
        margin-right: 10px;
    }
}

.descricao-ultimo-servico {
    font-family: 'Arvo';
    font-size: 21px;
    color: white;

    img {
        max-width: 324px;
        height: 235px;
    }

    p {
        text-align: center;
    }
}

@media (min-width: 1768px) {
    div.landing-body {
        height: 4870px;
    }

    div.vantagens {
        height: 750px;
    }
}

@media (min-width: 1948px) {
    div.landing-body {
        height: 4921px;
    }

    div.vantagens {
        height: 800px;
    }
}
