<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Subcategorias </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="mobile-label">Nome:</span>
        {{element.name}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element"></mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> Ações </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="mobile-label">Ações:</span>
        <button color="black" mat-button aria-label="Editar subcategoria" (click)="editSubcategory(element)">
          <mat-icon aria-hidden="false" aria-label="Example home icon">edit</mat-icon>
        </button>
        <button color="black" mat-button aria-label="Excluir subcategoria" (click)="deleteSubcategory(element)">
          <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
<button class="fixed-bottom" color="primary" mat-fab aria-label="Adicionar subcategoria" (click)="createSubcategory()">
  <mat-icon>add</mat-icon>
</button>