<div class="container">
  <h1 *ngIf="isLoading">Aguarde...</h1>
  <div *ngIf="success">
    <h1>Sucesso!</h1>
    <h2>
      Agora você pode acessar sua conta do Finddo :)
    </h2>
    <h2>
      Basta fechar essa aba e efetuar login no aplicativo.
    </h2>
  </div>
  <div *ngIf="!isLoading && !success && !fail">
    <h1>Finddo</h1>
    <div class="error-messages" *ngIf="errorMessages.length > 0">
      <ul>
        <li *ngFor="let e of errorMessages">{{e}}</li>
      </ul>
    </div>
    <h2>
      Digite sua nova senha
    </h2>
    <input type="password" [(ngModel)]="password" />
    <h2>
      Confirme sua nova senha
    </h2>
    <input type="password" [(ngModel)]="passwordConfirmation" />
    <h2>
      <a href="#" (click)="submitPassword($event)">Enviar</a>
    </h2>
  </div>
  <div *ngIf="fail">
    <h1>Ops!</h1>
    <h2>
      Houve algum problema em redefinir sua senha.
    </h2>
    <h2>
      Tente novamente em alguns instantes e caso o problema persista
    </h2>
    <h2>
      entre em contato com o suporte do Finddo na seção ajuda
    </h2>
    <h2>do seu aplicativo.</h2>
  </div>
</div>