<p>
  Termos e Condições de uso Finddo.
  1. Definições
  No presente instrumento, entendemos as expressões abaixo de acordo
  com as seguintes definições:
  FINDDO: FINDDO SERVIÇOS DE MANUTENÇÃO E TECNOLOGIA LTDA. -
  EPP, sociedade empresarial de responsabilidade limitada, inscrita no
  CNPJ sob o n°. 35.048.118/0001-74, com sede na cidade de Rio de
  Janeiro/RJ, na Estrada Vereador Alceu de Carvalho, n°. 665, Casa o-4-2,
  bairro Recreio dos Bandeirantes, CEP: 22.790-891.
  PLATAFORMA: sistema representado por um aplicativo, oferecido
  pela FINDDO e de propriedade, operação e responsabilidade
  da FINDDO, onde todos os USUÁRIOS podem visualizar e utilizar os
  serviços oferecidos.
  USUÁRIOS:
  a. CLIENTE: Todos cadastrados na PLATAFORMA, que acesse e/ou
  utilize os serviços ofertados pelos PRESTADORES DE
  SERVIÇO na PLATAFORMA.
  b. PRESTADOR DE SERVIÇO: pessoa física ou jurídica cadastrada
  na PLATAFORMA, que no uso desta irá ofertar os seus serviços
  aos CLIENTES.
  c. PARCEIROS: Pessoa jurídica, loja de material de construção, que irá
  auxiliar na expansão das atividades da FINDDO.
  2. Adesão
  Este instrumento regula as condições de uso dos serviços
  da PLATAFORMA sendo um contrato entre os USUÁRIOS e a FINDDO. A
  utilização de nossos serviços indica expressamente que você concorda
  com todos os termos e condições contidos neste instrumento e com as
  disposições legais aplicáveis à espécie.
  VOCÊ ENTENDE E CONCORDA QUE A FINDDO CONSIDERARÁ O USO
  DOS SERVIÇOS DISPOSTOS NA PLATAFORMA COMO ACEITAÇÃO
  DESTES TERMOS DE USO E SERVIÇOS E DE TODAS AS DEMAIS
  DISPOSIÇÕES LEGAIS PERTINENTES À ESPÉCIE.
  Caso você NÃO CONCORDE com os termos de uso previstos neste
  instrumento, NÃO CLIQUE EM CADASTRA - SE, nem acesse, visualize,
  baixe ou utilize de qualquer forma nenhuma página, conteúdo,
  informação ou serviço da FINDDO.
  3. Quem Somos
  A FINDDO oferece uma PLATAFORMA constituída por um
  aplicativo mobile disponível na Apple Store e Google Play, que conecta
  os CLIENTES que informam que tipo de serviço estão precisando com
  os PRESTADORES DE SERVIÇOS. Desta forma a FINDDO procura
  profissionalizar os serviços prestados pelos PRESTADORES DE
  SERVIÇOS e ao mesmo tempo melhorar a experiência para o CLIENTE.
  4. Condições Gerais de Uso
  A FINDDO apenas conecta os USUÁRIOS, sendo a sua responsabilidade
  restrita apenas ao funcionamento correto da PLATAFORMA, conforme
  este instrumento, não detendo a FINDDO nenhuma responsabilidade
  sobre: (i) as negociações a serem realizadas entre os USUÁRIOS; (ii) a
  verificação se o PRESTADOR DE SERVIÇOS realmente detém a
  capacidade técnica eventualmente informada ao CLIENTE; (iii) a
  qualidade da prestação dos serviços; (iv) a efetivação de qualquer
  pagamento acertado entre os USUÁRIOS; (v) eventuais problemas
  oriundos de demora ou de má prestação de serviços
  pelos PRESTADORES DE SERVIÇOS cadastrados; (vi) eventual
  descumprimento por um dos USUÁRIOS do que fora combinado no
  momento da negociação; e, (vii) qualquer outro ato ou fato decorrente
  da conduta dos USUÁRIOS.
  A FINDDO possibilita que os CLIENTES e os PRESTADORES DE
  SERVIÇOS contatem-se e negociem entre si de forma direta, sem
  qualquer intervenção, seja na negociação ou na efetivação do que fora
  negociado. A FINDDO NÃO é fornecedora de quaisquer dos serviços
  anunciados na PLATAFORMA, ou empregador/representante de
  qualquer dos PRESTADORES DE SERVIÇOS cadastrados.
  A FINDDO não detém nenhuma relação com os PRESTADORES DE
  SERVIÇOS cadastrados, não sendo possível imputar à FINDDO a
  responsabilidade por qualquer dano causado aos CLIENTES ou a
  terceiros, por atos oriundos dos PRESTADORES DE SERVIÇOS no
  momento da prestação dos serviços intermediados
  através PLATAFORMA.
  A FINDDO não interfere na negociação a ser realizada entre USUÁRIOS,
  ficando somente a cargo destes o acerto acerca das condições da
  prestação do serviço a ser realizado, tais como o valor, a qualidade, a
  forma, o prazo e outros pontos que julgarem necessários.
  Por não figurar como parte nas transações que se realizam entre
  os USUÁRIOS, a FINDDO também não pode obrigar os USUÁRIOS a
  honrarem com as possíveis obrigações assumidas no momento da
  realização das negociações na PLATAFORMA.
  No momento do cadastro, os USUÁRIOS poderão utilizar todos os
  serviços disponibilizados na PLATAFORMA, declarando, para tanto,
  terem lido, compreendido e aceitado todos os dispositivos contidos
  neste Termos de Uso e Serviços.
  5. Cadastro
  Os serviços oferecidos pela FINDDO estão disponíveis para pessoas
  físicas absolutamente capazes e pessoas jurídicas devidamente
  inscritas no CNPJ.
  É expressamente vedada a criação de mais de um cadastro
  por USUÁRIO na PLATAFORMA. Em caso de multiplicidade de cadastros
  elaborados por um só USUÁRIO, a FINDDO se reserva o direito de, a seu
  exclusivo critério, sem contrapartida indenizatória e sem necessidade
  de prévia anuência ou comunicação, inabilitar todos os cadastros
  existentes em nome deste USUÁRIO, podendo não aceitar novo cadastro
  do referido USUÁRIO na PLATAFORMA.
  É necessário o preenchimento completo de todos os dados solicitados
  pela PLATAFORMA no momento do cadastramento, para que
  os USUÁRIOS estejam habilitados a utilizar a PLATAFORMA.
  É de exclusiva responsabilidade dos USUÁRIOS fornecer, atualizar e
  garantir a veracidade dos dados cadastrais, não recaindo
  à FINDDO qualquer tipo de responsabilidade civil e criminal resultante
  de dados inverídicos, incorretos ou incompletos fornecidos
  pelos USUÁRIOS.
  A FINDDO se reserva o direito de utilizar todos os meios válidos e
  possíveis para identificar seus USUÁRIOS, bem como de solicitar dados
  adicionais e documentos que estime serem pertinentes a fim de conferir
  os dados informados. Neste caso, o uso
  da PLATAFORMA pelo USUÁRIO fica condicionado ao envio dos
  documentos eventualmente solicitados.
  Caso um cadastro seja considerado suspeito de conter dados errôneos
  ou inverídicos, a FINDDO se reserva ao direito de suspender, temporária
  ou definitivamente, sem necessidade de aviso prévio,
  o USUÁRIO responsável pelo cadastro. No caso de suspensão não
  assistirá ao USUÁRIOS direito a qualquer tipo de indenização ou
  ressarcimento por perdas e danos, lucros cessantes ou ainda danos
  morais.
  O USUÁRIO acessará a sua conta na PLATAFORMA por meio de login e
  senha, comprometendo-se a não informar a terceiros estes dados,
  responsabilizando-se integralmente pelo uso que deles seja feito.
  O USUÁRIO compromete-se a notificar a FINDDO imediatamente, por
  meio dos canais de contato mantidos pela FINDDO na PLATAFORMA, a
  respeito de qualquer uso não autorizado de sua conta. O USUÁRIO será
  o único responsável pelas operações efetuadas em sua conta, uma vez
  que o acesso só será possível mediante a utilização de senha de seu
  exclusivo conhecimento.
  O USUÁRIO compromete-se a notificar a FINDDO imediatamente, por
  meio dos canais de contato mantidos pela FINDDO na PLATAFORMA, a
  respeito de qualquer conhecimento de irregularidades de
  outros USUÁRIOS que possam ocasionar danos aos
  próprios USUÁRIOS da PLATAFORMA, a esta, a FINDDO ou a terceiros.
  Em nenhuma hipótese será permitida a cessão, a venda, o aluguel ou
  outra forma de transferência da conta do USUÁRIO.
  A seu exclusivo critério a FINDDO poderá excluir, inabilitar, suspender,
  bloquear, por tempo indeterminado, sem aviso prévio ou contrapartida
  indenizatória, cadastros de USUÁRIOS que sejam considerados
  ofensivos, que infrinjam os termos deste instrumento ou a legislação em
  vigor.
  A FINDDO se reserva ao direito de não permitir novo cadastro
  de USUÁRIOS que já tenham sido cancelados, inabilitados, bloqueados,
  excluídos ou suspensos da PLATAFORMA. Não se permitirá, ainda, a
  criação de novos cadastros por pessoas cujos cadastros originais
  tenham sido cancelados, bloqueados, inabilitados, excluídos ou
  suspensos por infrações às políticas da FINDDO ou a legislação vigente.
  A FINDDO se reserva o direito de, unilateralmente, sem prévio aviso,
  anuência ou contrapartida indenizatória, recusar qualquer solicitação
  de cadastro de um USUÁRIO na PLATAFORMA, bem como cancelar,
  inabilitar, bloquear, excluir ou suspender o uso de um cadastro
  previamente aceito.
  A FINDDO solicita o CPF dos USUÁRIOS afim de verificar o histórico
  criminal junto a receita federal. Caso haja algum antecedente a FINDDO
  se reserva ao direto de excluir o cadastro destes USUÁRIOS.
  6. Funcionalidades
  Após a realização do cadastro pelo CLIENTE, a PLATAFORMA apresenta
  os serviços categorizados, será necessário apenas selecioná-lo,
  podendo ser mais de 1(um), através de cliques. O CLIENTE pode
  escolher a forma de pagamento pelos serviços solicitados
  na PLATAFORMA, tanto no início como na finalização da sua solicitação
  de serviço. A CLIENTE irá realizar a sua negociação diretamente com o
  PRESTADOR DE SERVIÇO que enviará o valor acordado pela
  PLATAFORMA, necessitando apenas a aprovação do valor.
  O PRESTADOR DE SERVIÇOS irá visualizar o serviço selecionado pelo
  CLIENTE, podendo pegá-lo pela PLATAFORMA, o primeiro PRESTADOR
  DE SERVIÇOS que escolher o trabalho poderá realizá-lo, porém de
  acordo com a política de cancelamento, o CLIENTE pode escolher outro
  PRESTADOR DE SERVIÇOS.
  O PRESTADOR DE SERVIÇOS receberá a cada serviço realizado uma
  pontuação, que de acordo com o número de pontos por mês,
  determinados pela FINDDO, ele poderá receber premiações a serem
  definidas pela FINDDO.
  Os USUÁRIOS poderão receber avisos de novas mensagens recebidas
  no chat.
  Para garantir a segurança dos USUÁRIOS, todos os comentários,
  mensagens, imagens e demais informações e dados que transitarem
  via chat da PLATAFORMA serão monitorados e moderados
  pela FINDDO.
  No uso das funcionalidades do chat na PLATAFORMA não é permitido
  aos USUÁRIOS: (i) usar linguajar de baixo calão, ofensivo ou com sentido
  dúbio; (ii) realizar comentários difamatórios, contra qualquer pessoa
  física (viva ou falecida) ou jurídica; (iii) realizar comentários ou publicar
  imagens que possam infringir direitos de terceiros, sejam contrários à
  moral e aos bons costumes, que incitem a violência, o ódio, o sexismo, o
  racismo, que façam alusão a pornografia, pedofilia, armas, drogas e
  demais conteúdos perturbadores ou ilegais; (iv) enviar ou solicitar dados
  pessoais, tais como, mas não se limitando a: e-mail, telefone, perfil do
  Facebook, perfil do Instagram, contato no WhatsApp, links diversos,
  informações de conta bancária, informações de documentos pessoais
  ou qualquer outro meio de comunicação pessoal; (v) fazer menção à
  alguma plataforma concorrente ou combinar o fechamento do negócio
  por outro meio diverso da PLATAFORMA; (vi) publicar imagens contendo
  dados pessoais como telefones de contato, e-mail, etc.
  No caso de o CLIENTE autorizar o recebimento de notificações,
  a PLATAFORMA lhe informará acerca do recebimento de novas
  mensagens no chat e de novos orçamentos.
  Os PRESTADORES DE SERVIÇO podem ser avaliados
  na PLATAFORMA pelos CLIENTES que utilizaram de seus serviços,
  sendo esta avaliação pública a todos os USUÁRIOS, entretanto,
  o CLIENTE que realizar a avaliação não é obrigado a se identificar,
  podendo, então, a avaliação ser anônima. Bem como o PRESTADOR DE
  SERVIÇOS, poderá avaliar o CLIENTE.
  A PLATAFORMA não realiza nenhuma operação financeira, podendo
  o CLIENTE utilizar ferramenta de pagamento administrada por terceiros
  que estará indicada na PLATAFORMA. O CLIENTE deverá, ainda,
  concordar com os Termos de Uso desta ferramenta, ficando sob sua
  inteira responsabilidade se inteirar acerca do seu funcionamento e
  possibilidade de cobrança de eventuais taxas.
  Para se cadastrar como PRESTADOR DE SERVIÇOS na PLATAFORMA,
  deve o USUÁRIO preencher o formulário solicitado pela PLATAFORMA,
  bem como enviar um e-mail para FINDDO, informando suas referências
  profissionais, comprovante de residência e cópia frente e verso do RG e
  CNH, esta última se houver, bem como de demais documentos
  solicitados pela própria PLATAFORMA ou pela equipe da FINDDO. Após
  o recebimento do e-mail a FINDDO informará a validação, ou não, do
  cadastro do USUÁRIO como PRESTADOR DE SERVIÇOS, no prazo de
  até 72 (setenta e duas) horas úteis.
  Após a validação e a liberação do cadastro de
  um USUÁRIO como PRESTADOR DE SERVIÇOS na PLATAFORMA pela
  equipe da FINDDO, o PRESTADOR DE SERVIÇOS começará a receber
  notificações, caso estas sejam autorizadas, sobre os serviços
  solicitados para a sua categoria de serviço.
  A validação, ou não, de um USUÁRIO como PRESTADOR DE
  SERVIÇO na PLATAFORMA, compete exclusivamente a FINDDO, que se
  reserva ao direito de recusar, a seu exclusivo critério, o cadastro de
  algum USUÁRIO como PRESTADOR DE SERVIÇOS.
  7. Obrigações dos Prestadores de Serviço
  Cabe unicamente ao PRESTADOR DE SERVIÇO emitir nota fiscal dos
  serviços prestados ao CLIENTE.
  O PRESTADOR DE SERVIÇO cadastrado declara que detém capacidade
  legal e técnica para prestar o serviço ofertado na PLATAFORMA, bem
  como declara que é o único responsável por todo e qualquer serviço que
  realize e que tenha sido intermediado através da PLATAFORMA.
  Ainda, o PRESTADOR DE SERVIÇO fica responsável por qualquer dano
  ocasionado ao CLIENTE ou a terceiros, pelos serviços que, por ventura,
  mesmo que contatado para a realização, através da PLATAFORMA,
  deixe de prestar ou que seja prestado em desacordo com o que fora
  acertado entre as partes.
  A FINDDO não se responsabiliza pelas obrigações tributárias ou
  trabalhistas que recaiam sobre as atividades exercidas
  pelos PRESTADORES DE SERVIÇOS. Uma vez que neste termo os
  PRESTADOR DE SERVIÇOS estão:
  CONTRATANDO O SERVIÇO DE INTERMEDIAÇÃO DA FINDDO, PARA
  DIVULGAREM SEU TRABALHO E REALIZAREM SEUS SERVIÇOS.
  Cabe unicamente ao PRESTADOR DE SERVIÇOS realizar cobranças dos
  serviços prestados que não tenham sido pagos pelos CLIENTES, nos
  moldes das negociações realizadas, através de meio próprio, não
  utilizando da PLATAFORMA para tanto.
  8. Obrigações dos Clientes
  Cabe unicamente ao CLIENTE exigir nota fiscal do PRESTADOR DE
  SERVIÇO.
  O CLIENTE compromete-se a efetuar o pagamento pelos serviços
  contratados junto ao PRESTADOR DE SERVIÇO, no uso das
  funcionalidades da PLATAFORMA, nos termos do que for combinado
  entre as partes no momento da realização das negociações.
  O CLIENTE declara estar ciente de que a PLATAFORMA não tem nenhum
  vínculo com o PRESTADOR DE SERVIÇOS, de forma que todo e qualquer
  problema oriundo da prestação de serviços intermediada
  pela PLATAFORMA, somente pode ser resolvido junto ao
  respectivo PRESTADOR DE SERVIÇOS.
  O CLIENTE é o único responsável pela escolha, realização de
  negociação, acerto de preço e forma de pagamento e a respectiva
  contratação do PRESTADOR DE SERVIÇOS.
  O CLIENTE é o único responsável pelo acompanhamento do
  desenvolvimento dos serviços a serem prestados pelos PRESTADORES
  DE SERVIÇOS.
  9. Funcionalidades/Obrigações dos Parceiros.
  O PARCEIRO auxiliará a FINDDO na expansão de sua operação
  indicando CLIENTES para a PLATAFORMA que solicitarem indicação em
  suas lojas e apontando também PRESTADORES DE SERVIÇO de
  confiança.
  O PARCEIRO por meio deste autoriza a utilização de panfletos, banners
  e cartões de visita para facilitar esse trabalho de indicação de
  USUÁRIOS.
  O PARCEIRO poderá avaliar o PRESTADOR DE SERVIÇO, informando
  qual atividade ele conhece e sabe que o PRESTADOR DE SERVIÇO
  realiza com qualidade. O CLIENTE poderá filtrar o PRESTADOR DE
  SERVIÇO que irá lhe atender, por um PRESTADOR DE SERVIÇO que é
  indicado por um PARCEIRO.
  O PARCEIRO NÃO É RESPONSÁVEL PELA QUALIDADE DO SERVIÇO
  PRESTADO. LOGO NÃO TEM RESPONSABILIDADE SOBRE A
  EXECUÇÃO DO SERVIÇO REALIZADO POR UM PRESTADOR DE
  SERVIÇO INDICADO.
  Por meio deste, o PARCEIRO está autorizado a oferecer descontos e
  ofertas em produtos de suas lojas para os CLIENTES, por meio da
  PLATAFORMA. Além disso, o PARCEIRO terá acesso a dados
  estratégicos para auxiliá-los a gerar mais vendas. Esses serão os dados:
  . Número de serviços solicitados por data e região;
  . Número de clientes cadastrados por data e região.
  Outras informações poderão ser adicionadas mediante a solicitação dos
  PARCEIROS, porém cabe a FINDDO disponibilizar ou não o dado de
  acordo com análise própria.
  10. Pagamento
  Para o pagamento dos serviços solicitados na PLATAFORMA, deverá
  o CLIENTE, no início ou na finalização da sua solicitação de serviço,
  escolher por um dos métodos a seguir:
  a. Cartão de Crédito VISA; ou,
  b. Cartão de Crédito MASTERCARD; ou,
  c. Cartão de Crédito AMERICAN EXPRESS; ou,
  d. Cartão de Crédito DINERS CLUB INTERNATIONAL; ou,
  e. Cartão de Crédito ELO;
  Para processar os pagamentos através de cartão de crédito, será
  necessário que o CLIENTE cadastre na PLATAFORMA os seguintes
  dados do cartão escolhido:
  a. Nome do titular do Cartão de Crédito;
  b. Número do Cartão de Crédito;
  c. Bandeira do Cartão de Crédito (VISA, MASTERCARD, AMERICAN
  EXPRESS, DINERS CLUB INTERNATIONAL, ELO);
  d. Vencimento do Cartão de Crédito (Mês e Ano);
  e. Número de segurança do Cartão de Crédito.
  Os pagamentos são processados pela WIRECARD empresa de meio de
  pagamento contratada pela FINDDO, da seguinte maneira: (i) no
  momento da finalização das negociações com o PRESTADOR DE
  SERVIÇO, a PLATAFORMA realiza de forma automática, no cartão de
  crédito fornecido pelo CLIENTE, bloqueio de limite no valor do serviço
  contratado; (ii) com o êxito do bloqueio de limite, o PRESTADOR DE
  SERVIÇO inicia a prestação do serviço que foi contratado; (iii) com a
  finalização da execução do serviço contratado, o PRESTADOR DE
  SERVIÇO emitirá, através da PLATAFORMA, ordem de cobrança no valor
  acertado entre as partes; (iv) a cobrança somente será debitada no
  cartão de crédito informado pelo CLIENTE, após a autorização deste
  na PLATAFORMA.
  A PLATAFORMA informará ao CLIENTE caso o seu método de
  pagamento seja inválido ou recusado, devendo
  o CLIENTE imediatamente fornecer outro meio de pagamento para
  manter a sua solicitação de serviço, ou ainda, o preço combinado com
  o PRESTADOR DE SERVIÇO.
  Se no momento da prestação dos serviços contratados pelo CLIENTE,
  o PRESTADOR DE SERVIÇO verifique a necessidade de alteração do
  valor a ser cobrado do CLIENTE, deverá o PRESTADOR DE
  SERVIÇO informar ao CLIENTE acerca da mudança de preço, devendo o
  CLIENTE aceitar a referida mudança antes do PRESTADOR DE
  SERVIÇO emitir a ordem de cobrança.
  Não serão reembolsados aos USUÁRIOS quaisquer valores referentes a
  tributos incidentes no processamento do pagamento ou eventuais taxas
  cobradas pelo cartão de crédito utilizado na PLATAFORMA.
  11. Política de Cancelamento
  • Pedidos agendados para daqui a 4 horas:
  Cancelamento e alteração de PRESTADOR DE SERVIÇO pode
  ser feita em 10 min;
  Após este tempo, cancelamento e alteração custarão uma
  taxa fixa de R$ 20,00.
  • Pedidos para mais de 5 horas:
  Cancelamento e alteração do PRESTADOR DE SERVIÇO pode
  ser feita até 4 horas antes;
  Após este tempo taxa de R$ 20,00;
  • CLIENTE ausente ou não disponível, com tolerância máxima de 15
  minutos:
  Será cobrada taxa no valor de R$ 50,00;

  • PRESTADOR DE SERVIÇO não compareceu ou se atrasou, com
  tolerância máxima de 15 minutos:
  Reagendamento e Avaliação negativa automática;
  12. Política de Privacidade
  Os USUÁRIOS aceitam e concordam que as informações cadastradas
  na PLATAFORMA sejam publicadas e/ou fornecidas de acordo com o
  previsto neste instrumento.
  Os USUÁRIOS aceitam e concordam que:
  a. Qualquer informação fornecida seja guardada numa base de dados
  controlada pela FINDDO;
  b. Essa base de dados possa ser armazenada em servidores não
  localizados no país onde o USUÁRIO se encontra nem onde a FINDDO se
  encontra;
  c. Os servidores sejam de propriedade e administrados por prestadoras
  de serviço contratados pela FINDDO.
  d. Apresentar dados gerais, não pessoais, aos PARCEIROS.
  Ainda que utilizando infraestrutura computacional administrada por
  terceiros, a FINDDO não autoriza o uso das informações
  do USUÁRIO pela prestadora de serviço.
  Ainda que a FINDDO escolha as prestadoras de serviço líderes mundiais
  em segurança de dados, a FINDDO se exime de responsabilidade por
  qualquer possível atentado hacker ou falha das tecnologias de
  segurança que possam levar essa informação a ser exposta.
  A FINDDO protege todos os dados pessoais do USUÁRIO utilizando
  padrões de cuidado técnica e economicamente razoáveis considerandose a tecnologia atual da Internet. O USUÁRIO
  reconhece que não pode
  haver expectativa quanto a segurança total na Internet contra invasão
  de websites ou outros atos irregulares.
  É reservado o direito da FINDDO em fornecer os dados e informações
  do USUÁRIO, bem como de todo o sistema utilizado na PLATAFORMA,
  para sua equipe técnica, podendo ser formada por funcionários
  da FINDDO e/ou por empresa terceirizada, nos quais serão responsáveis
  por administrar a segurança e confiabilidade da PLATAFORMA e dos
  dados dos USUÁRIOS.
  Todos os integrantes da equipe técnica, sejam funcionários ou empresa
  terceirizada, firmarão termo de confidencialidade, declarando que se
  obrigam a manter sob absoluto sigilo todas as informações comerciais,
  contábeis, administrativas, tecnológicas, infraestruturas, técnicas, ou
  seja, quaisquer dados revelados mutuamente em decorrência da
  manutenção do funcionamento e segurança da PLATAFORMA,
  abstendo-se de utilizá-las em proveito próprio ou de terceiros,
  comprometendo-se a zelar para que seus sócios, funcionários com
  vínculo empregatício e terceiros de sua confiança, informados dessa
  obrigação, também o façam.
  O USUÁRIO autoriza que as suas informações cadastradas sejam
  publicadas para outros USUÁRIOS cadastrados na PLATAFORMA,
  conforme o previsto neste instrumento.
  O conteúdo público fornecido pelo USUÁRIO, incluindo a foto do perfil,
  mas não se limitando a ela, é de propriedade do USUÁRIO. Este, porém,
  concorda em ceder a FINDDO os direitos de uso desse conteúdo para
  fins de funcionamento da PLATAFORMA e de divulgação da FINDDO e de
  seus produtos, utilizando canais de comunicação próprios ou de
  terceiros.
  A FINDDO não está autorizada a fornecer os dados cadastrados
  pelo USUÁRIO à terceiros, a não ser nas formas previstas neste
  instrumento.
  É de competência exclusiva da Justiça e órgãos legais do território
  brasileiro requerer fundamentadamente a FINDDO o fornecimento de
  dados pessoais do USUÁRIO que comprovadamente desrespeitar os
  termos e condições presentes neste instrumento e as disposições legais
  aplicáveis à espécie, reservando-se a FINDDO no direito de fornecer à
  Justiça e órgãos legais competentes os dados pessoais do USUÁRIO,
  quando fundamentadamente requeridos.
  13. Disposições Finais
  Todos os materiais, patentes, marcas, registros, domínios, nomes,
  privilégios, criações, imagens e todos os direitos conexos e
  relacionados com a PLATAFORMA e desenvolvidos pela FINDDO, são e
  permanecerão de única e exclusiva propriedade da FINDDO,
  concordando os USUÁRIOS em não praticar ato ou fato que, por
  qualquer modo, prejudique os direitos previstos aqui e tampouco
  reivindicar qualquer direito ou privilégio sobre os mesmos.
  O USUÁRIO se obriga a manter atualizados seus dados cadastrais, bem
  como informar qualquer modificação verificada, especialmente nos seus
  dados de pagamento, bem como seu endereço de e-mail e telefone os
  quais serão os principais canais de comunicação entre a FINDDO e
  os USUÁRIOS.
  A FINDDO poderá alterar este instrumento a qualquer momento,
  bastando, para tanto, publicarmos uma versão revisada em nosso site.
  Por este motivo, recomendamos veementemente que sempre visite esta
  seção de nosso site, lendo, periodicamente. Mas, para contribuir com o
  bom relacionamento, também enviaremos um e-mail informando acerca
  dessas mudanças.
  O presente instrumento constitui o entendimento integral entre
  o USUÁRIO e a FINDDO e é regido pelas Leis Brasileiras, ficando eleito o
  foro da cidade do Rio de Janeiro - RJ, como único competente para
  dirimir questões decorrentes do presente instrumento, com renúncia
  expressa a qualquer outro foro, por mais privilegiado que seja.
</p>
